<h2><%= @book.title %></h2>
<h3><a href="/authors/<%= @book.author.id %>"><%= @book.author.name %></a></h3>
<p><%= @book.snippet %></p>

<!-- Delete Form - make sure 'Use Rack::MethodOverride' is in config.ru file for this to work -->
<form action="/books/<%= @book.id %>" method="post">
  <!-- Hidden input to change "POST" method to "DELETE" -->
  <input type="hidden" name="_method" value="delete">
  <button type="submit" value="submit">Delete Book</button>
</form>
