<!DOCTYPE html>
<html>
  <head>
    <title>DrinkersParadise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to 'bars', bars_path %>
    <%= link_to 'new bar', new_bar_path %>
  </nav>
    <%= yield %>
  </body>
</html>
